# See the spotifyr documentation at https://www.rcharlie.com/spotifyr/ for
# details on how to create a Spotify access key. Once you have the keys copy
# this file to '_spotify_secrets.R' and paste the keys into the variable below.

SPOTIFY_CLIENT_ID <- NA
SPOTIFY_CLIENT_SECRET <- NA
